<div class="row  mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h2>
                    Thêm Product
                </h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/courses/store">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nhập vào địa chỉ name">
                    </div>
                    <div class="form-group">
                        <label for="">description</label>
                      <textarea cols="30" rows="10" class="form-control" id="description" name="description" placeholder="Nhập vào địa chỉ description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">image</label>
                        <input type="text" class="form-control" id="image" name="image" placeholder="Nhập vào địa chỉ image">
                    </div>
                    <div class="form-group">
                        <label for="">VideoId</label>
                        <input type="text" class="form-control" id="videoid" name="videoid" placeholder="Nhập vào địa chỉ videoid">
                    </div>
                
                    <div class="form-group text-right">
                        <button class="btn btn-primary"> Thêm Product </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    
</div>

<div class="row  mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Danh sách Product
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">description</th>
                                    <th class="text-center">image</th>
                                    <th class="text-center">VideoId</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-nowrap">
                                 <tr{{#each course}}>
                                        <th>{{@index}}</th>
                                        <td>{{this.name}}</td>
                                        <td>{{this.description}}</td>
                                        <td>{{this.image}}</td>
                                        <td>{{this.slug}}</td>
                                        <td>
                                            <a href="courses/{{this._id}}/edit" class="btn btn-success">update</a>
                                            <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#exampleModal">delete</a>
                                        </td>                                
                                </tr{{/each}}>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- destroy --}}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn Có Chắc Muốn Xóa Không 
        <input type="hidden" class="form-control" id="delete_id"
        placeholder="Nhập vào id cần xóa">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">hủy</button>
        <button type="button" id="btn-delete-course" class="btn btn-danger">delete</button>
      </div>
    </div>
  </div>
</div>



<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){

        var deleteform = document.forms['delete-course-form'];
        var id;
        var btnDeleteCourse = $('#btn-delete-course');

        $(document).ready(function() {
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                id = button.data('id')
                $('#delete_id').val(id);
            });

            btnDeleteCourse.on('click', function() {
                deleteform.action = '/courses/' + id + '?_method=delete';
                deleteform.submit();
            });
        });
    });  
</script>
