<div class="row  mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h2>
                    sửa Product
                </h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/courses/{{course._id}}?_method=PUT">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input  value="{{course.name}}" type="text" class="form-control" id="name" name="name" placeholder="Nhập vào địa chỉ name">
                    </div>
                    <div class="form-group">
                        <label for="">description</label>
                      <textarea cols="30" rows="10" class="form-control" id="description" name="description" placeholder="Nhập vào địa chỉ description">{{course.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="">image</label>
                        <input value="{{course.image}}" type="text" class="form-control" id="image" name="image" placeholder="Nhập vào địa chỉ image">
                    </div>
                    <div class="form-group">
                        <label for="">VideoId</label>
                        <input value="{{course.videoid}}" type="text" class="form-control" id="videoid" name="videoid" placeholder="Nhập vào địa chỉ videoid">
                    </div>
                
                    <div class="form-group text-right">
                        <button class="btn btn-primary"> update Product </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


