<div class="container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center  bg-dark text-white">
          Bạn Đang Xem:
          {{course.name}}
        </div>
        <div class="card-body text-center">
          <iframe
            width="1000"
            height="700"
            src="https://www.youtube.com/embed/{{course.videoid}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card-footer">
          Mô Tả:
          {{course.description}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
    <div class="form-group">
    
        <form action="/courses/cmt" method="POST">
            <input class="form-control" id="slug" name="slug" type="hidden" value="{{course.slug}}">
            <input class="form-control" id="email" name="email" type="hidden" value="{{user.email}}">
            <input class="form-control" id="name" name="name" type="hidden" value="{{user.name}}">

            <textarea cols="30" rows="10" class="form-control" id="cmt" name="cmt" placeholder="Bình luận {{course.name}} ................"></textarea>
            <div class="form-group text-right pt-2">
                <button class="btn btn-primary">Bình luận</button>
            </div>
        </form>
    </div>
    {{#each cmt}}
      <div class="card mt-5">
        <div class="card">
          <div class="card-header bg-dark text-white">
            {{this.name}}
          </div>
          <div class="card-body">
              <h5 class="card-title">{{this.cmt}}</h5>
          </div>
        </div>
      </div>
    {{/each}}
</div>
