<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <img src="https://bizweb.dktcdn.net/100/197/269/themes/890698/assets/logo.png?1680250215061"  style="width: 220px;" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/courses">Create Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/user">Login</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            {{ user.name }}
          </a>
          <div class="dropdown-menu ">
            <a class="dropdown-item " href="/ho_so">Hồ Sơ</a>
            <a class="dropdown-item" href="/ho_so/logout">Đăng Xuất</a>
        </li>
      </ul>
      <form action="/search" method="get" class="form-inline ml-auto my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>
<div id="carouselExampleInterval" class="carousel slide " data-ride="carousel" style="height: 650px;" >
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="https://bizweb.dktcdn.net/100/197/269/themes/890698/assets/slider_2.jpg?1680250215061" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://bizweb.dktcdn.net/100/197/269/themes/890698/assets/slider_3.jpg?1680250215061" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://bizweb.dktcdn.net/100/197/269/themes/890698/assets/slider_1.jpg?1680250215061" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
