<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h1>HỒ SƠ</h1>
                </div>
                <div class="card-body">
                    <div class="form-group ">
                        <label>Email</label>
                        <input  class="form-control" value="{{ user.email }}" >
                    </div>
                    <div class="form-group ">
                        <label>Name</label>
                        <input  class="form-control" value="{{ user.name }}" >
                    </div>
                     <div class="form-group ">
                        <label>Ngày Sinh</label>
                        <input  class="form-control" value="{{ user.ngay_sinh }}" >
                    </div>
                     <div class="form-group ">
                        <label>Số Điện Thoại</label>
                        <input  class="form-control" value="{{ user.so_dien_thoai }}" >
                    </div>
                     <div class="form-group ">
                        <label>Giới Tính</label>
                        <input  class="form-control" value="{{ user.gioi_tinh }}" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
