<div class="container mt-4">
  <div class="row">
    {{#each courses}}
        <div class="col-sm-4 ">
        <div class="card m-3">
            <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}" />
            <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="/courses/{{this.slug}}" class="btn btn-primary" id="doc_sach" >đọc sách</a>
            </div>
        </div>
        </div>
    {{/each}}
  </div>
</div>
