<form action="/user/login" method="post">
  <div class="form-group pt-5">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check text-right">
    <a href="" >Quên mật khẩu</a>
  </div>
   <div class="form-group form-check text-right">
    <a href="user/register">Đăng Kí</a>
  </div>
  <div class="form-group form-check text-right">
    <button type="submit" id="submit" class="btn btn-primary">Đăng Nhập</button>
  </div>
